{% extends "base.html" %}

{% block content %}

    <div class="row-fluid">
        <div class="span6">
            <form class="form-search" method="GET" action="">
                <input type="text" name="query" class="input-large search-query span9"
                       value="{{ request.args.get("query", "") }}">
                <button type="submit" class="btn">Search Products</button>
            </form>
        </div>
    </div>
    {% if search_results != None %}
        <div class="row-fluid">
            <div class="span10">
                <h3>Results for {{ query|safe }}</h3>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Thumbnail</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Buy now</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in search_results %}
                            <tr>
                                <td><img style="height: 100px;" src="{{ url_for('get_image', path="static/img/products/"+product[4]) }}" alt=""></td>
                                <td>{{ product[1] }}</td>
                                <td>£{{ product[2] }}</td>
                                <td>
                                    <a class="btn btn-primary" href="{{ url_for('view_product', id=product[0]) }}">
                                        <i class="icon-shopping-cart icon-white"></i>
                                        Buy Now!</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}